.formacao {
  background-color: #3d3d3d;
}
.formacao-container {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  padding-top: 100px;
}
.formacao .subtitulo {
  max-width: 5ch;
}

.formacao-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 40ch;
  margin-bottom: 60px;
  color: #a3a3a3;
}
.formacao-texto strong {
  color: #fff;
}
.formacao-extra h3 {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #8f8f8f;
  text-transform: uppercase;
  margin-bottom: 30px;
  position: relative;
}

.formacao-extra h3::before {
  display: block;
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  left: -36px;
  top: -4px;
}
.cursos h3::before {
  background: url(/Portfolio/projeto-pessoal-arquivos/img/cursos.svg);
}
.idiomas h3::before {
  background: url(/Portfolio/projeto-pessoal-arquivos/img/idiomas.svg);
}
.formacao-extra li {
  font-size: 1.125rem;
  line-height: 1.1;
  margin-bottom: 20px;
  color: #fff;
}
.formacao-extra span {
  color: #8f8f8f;
}
.cursos li {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 800px) {
  .formacao-container {
    grid-template-columns: 1fr;
    padding: 60px 20px;
    gap: 40px;
  }
  .formacao .subtitulo {
    color: #fff;
  }
  .formacao-texto {
    font-size: 1.25rem;
  }
  .formacao-extra h3::before {
    position: initial;
    margin-bottom: 10px;
  }
}
